# App
TZ=Europe/Paris
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie

# Proxy workers (Docker)
DOCKER_SOCKET_PATH=/var/run/docker.sock
PROXY_TEST_HOST=127.0.0.1
PROXY_BASE_HOST_PORT=3128
# For practical reasons, we'll use the same network for all proxy workers
# In case we want to use this project as a SaaS, we'll need to use a different network for each user
PROXY_NETWORK_NAME=wireguard-proxy-network

# Gluetun image & Wireguard peer settings (shared)
# https://hub.docker.com/r/qmcgaw/gluetun/tags
GLUETUN_IMAGE_NAME=qmcgaw/gluetun:v3
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
